<html>
<head>
<title>contact us
</title>
    <style>
        .con{
            background: url(http://kidopia.in/images/red-bg1.png);
            padding: 50px 0px 50px 0px;
    text-align: center;
        }
    </style>
    </head>
<body>
    
    <div class="con">
<center><h2>Contact Us</h2>
    <span><img src="F:\kidopia\image\sep-white.png"></span></center>
        <br><br><br>
        <input type="text" placeholder=" enter your name"><br><br><br>
             <input type="text" placeholder=" enter email"><br><br><br>
             <input type="text"placeholder=" enter phone number" ><br><br><br>
             <input type="area" placeholder=" message"><br>
        </div>
</body>
</html>