<document type>
<html>
<head>
<title>gallery
</title>
<style>
.bgcol{
background-color: #dc3545;

}
    .tabbg{
        background-color: #cd1f02;
    }
    .play{
        color: white;
        font-size: 40px;
        padding-left: 100px;
    }
</style>
</head>
    <center><p>Our Gallery
</p></center>
    <img src="F:\kidopia\image\sep-white.png" style="margin-left: 420px;">
        
<body class="bgcol">
<table class="tabbg" cellpadding="20x" cellspacing="20px" padding="30px">
    <tr>
    <td  class="play" scope="col" >Play Zone</td>
    </tr>
<tr>
            <td scope="col"><img src="F:\kidopia\image\pic_2.png" width="215 px" height="160 px "/></td>
                <td scope="col"><img src="F:\kidopia\image\pic_3.png" width="215 px" height="160 px "/></td>
    <td scope="col"><img src="F:\kidopia\image\pic.jpg" width="215 px" height="160 px " />
</td>
    <td scope="col"><img src="F:\kidopia\image\g2.jpg" width="215 px" height="160 px " />
</td>
            </tr>
    
    <tr>
            <td scope="col"><img src="F:\kidopia\image\g3.jpg" width="215 px" height="160 px "/></td>
                <td scope="col"><img src="F:\kidopia\image\g4.jpg" width="215 px" height="160 px "/></td>
    <td scope="col"><img src="F:\kidopia\image\g5.jpg" width="215 px" height="160 px " />
</td>
    <td scope="col"><img src="F:\kidopia\image\g6.jpg" width="215 px" height="160 px " />
</td>
            </tr>
    <tr>
            <td scope="col"><img src="F:\kidopia\image\g7.jpg" width="215 px" height="160 px "/></td>
                <td scope="col"><img src="F:\kidopia\image\g8.jpg" width="215 px" height="160 px "/></td>
    <td scope="col"><img src="F:\kidopia\image\g9.jpg" width="215 px" height="160 px " />
</td>
    <td scope="col"><img src="F:\kidopia\image\g11.jpg" width="215 px" height="160 px " />
</td>
            </tr>
    <tr>
            <td scope="col"><img src="F:\kidopia\image\g12.jpg" width="215 px" height="160 px "/></td>
    
    </tr>
</table>
</body>
</html>
